<%- include("partials/header.ejs") %>
            <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="/posts" class="nav-link">Post</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact us</a></li>
            <li class="nav-item"><a href="/delete" class="nav-link text-light bg-danger">Delete All</a></li>
          </ul>
        </header>
      </div>
      <div class="parent">
        <div class="contact layer">
            <div class="innerContact" style="width: 80%; height: 80%;">
                <h2 style="margin-top: 5%; height: 10%;">Collage:</h2>
                <div class="posts bg-light">
                   <% if (locals.message) {
                    const num = message.title.length;
                    for(i=0; i<num; i++) { 
                        const link = "/" + message.title[i] %>
                        <a href= <%= link %>> <%= message.title[i] %></a>
                    <% }
                    } %>

                </div>
            </div>
        </div>









<%- include("partials/footer.ejs") %>