body {
    height: 100%;
}
.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
a:hover {
    text-decoration: underline;
}
a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.contact {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.layer {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.parent {
    display: grid;
    height: fit-content;
}

.innerContact {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: white;
    justify-content: start;
    align-items: center;
}

.posts {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


form {
    display: flex;
    gap: 2%;
    flex-direction: column;
    width: 100%;
    height: 70%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.left-align {
    align-self: end;
    margin-top: 2%;
    margin-right: 2%;
}

.bubble {
    width: 100%;
    height: 100%;
}

.noHeight {
    height: 5%;
}